body {
    background: #000;
    font-family: 'IBM Plex Sans';
}

nav {
    background: #000;
}

a {
    text-decoration: none;
}

.btn {
    font-weight: 500;
}

.btn-primary {
    background: white;
    border: 0px;
    color: black;
}

.btn-secondary {
    background: #1e1e1e;
    border: 0px;
}


.nav-link {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, footer {
    color: white;
}

p {
    color: #cccccc;
}

.heroimg {
    background-image: url(img/Hero-img.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    height: 100vh;
}

.aboutimg {
    background-image: url(img/aboutimg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no repeat;

    height: 80vh
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

hr {
    color: #fff;
    border: 1px;
    width: 56px !important;
}

/* Satwa */


.overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    opacity: 0;
    transition: .5s ease;
}


a:hover .overlay {
    opacity: 1;
} 